<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longmingxin.talent.talents"
    android:installLocation="preferExternal">

    <!-- //网络权限和SD卡读取权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <!-- AutoLayout屏幕适配 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".ui.activity.StartpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.newactivity.CourseActivity" />
        <activity android:name=".ui.newactivity.TrainActivity" />
        <activity android:name=".ui.newactivity.SkillActivity" />
        <activity android:name=".ui.newactivity.MeasuringActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.CurriculumVitae.CurriculumVitaeActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.DeliveryRecordsActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.InterviewRecordsActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyCurriculumActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyOrderActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyFollowActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyNewsActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyTeamActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MyAboutActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.MySettingActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.CurriculumVitae.My_InformationActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.CurriculumVitae.EducationActivity" />
        <activity android:name=".ui.fragments.MyFragment.MyActivity.CurriculumVitae.BackgroundActivity" />
        <activity android:name=".ui.newactivity.Train_SchoolActivity" />
        <activity android:name=".ui.newactivity.lair.High_salary_postActivity" />
        <activity android:name=".ui.newactivity.lair.Intelligent_recommendationActivity" />
        <activity android:name=".ui.newactivity.lair.Urgent_jobActivity" />
        <activity android:name=".ui.newactivity.lair.Exclusive_channelActivity" />
        <activity android:name=".ui.newactivity.lair.XiangQingActivity"></activity>
    </application>

</manifest>